<app-titled-divider>Placeholder Component</app-titled-divider>
<app-placeholder [showHeader]="true" [lines]="4"></app-placeholder>
<app-params-list [title]="'Property Customization'" [params]="placeholderParams"></app-params-list>
<app-titled-divider>Segment</app-titled-divider>
<app-segment>
    <!-- ng-content for the upper part-->
    <div icon-header-content>
        <i class="pdf file outline icon"></i>No documents listed here
    </div>

    <!-- ng-content for the lower part-->
    <button class="ui primary button">
        Add document
    </button>
</app-segment>
<app-params-list [title]="'Property Customization'" [params]="segmentParams"></app-params-list>