<div class="ui dimmer visible active">
    <div class="ui modal visible active">
        <i class="close icon"></i>
        <div class="header">Modal Window</div>
        <div class="content">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi sit animi fugit molestiae suscipit
                laboriosam asperiores doloribus, neque aliquid fugiat corporis, sequi illo labore esse blanditiis, quasi
                maiores. Architecto, vel!</p>
        </div>
        <div class="actions">
            <button class="ui button">OK</button>
        </div>
    </div>
</div>