<h1>Widgets showcase</h1>
<p>This App made with Angular showcases a few reusable frontend components.</p>
<p>You can use the links above to visit the various routes of the application, each one corresponds to a different
    module and showcases a few components.</p>
<p>The components are based on those available in <a href="https://semantic-ui.com/" target="_blank">Semantic UI</a>,
    with a few extra customizations. For this reason, the app uses the CSS part of Semantic UI for styling, without
    using the JS part of the library.</p>
<p>These are some of the Angular functionalities used in this app:</p>
<ul>
    <li>Router</li>
    <li>Modules</li>
    <li>Lazy loading</li>
    <li>Directives (built-in and custom)</li>
</ul>